[user]
  name = Chad Timmermans
  email = no-reply

[alias]
  cob = checkout -b

  # cleaner or shorter output
  l = log --oneline --abbrev-commit
  s = status -sb
  b = branch -a
  grip = grep --break --heading --line-number
  gripi = grep --break --heading --line-number -i
  comdiff = diff --compact-summary --summary

  # commit all changes
  cm = !git add -A && git commit -av

  # show last commit
  last = log -1 HEAD

  # show names of the files changed in last commit
  changed = show --pretty=\"format:\" --name-only

  # log contributor count
  count = shortlog -sn

  # commend latest commit
  commend = commit --amend --no-edit
  
  please = push --force-with-lease

[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = trailing-space, space-before-tab

[apply]
  #whitespace = nowarn
  whitespace = fix

[help]
  # auto correct and execute mistyped commands
  #autocorrect = 1

[merge]
  # adds summary of merged commits in newly created merge commit message
  log = true

[log]
  #showSignature = false

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[grep]
  lineNumber = true
  extendRegexp = true

[color]
  ui = auto

[color "branch"]
  current = green bold
  local = yellow bold
  remote = red bold

[color "diff"]
  meta = yellow bold
  frag = magenta bold  # line info
  old = red
  new = green
  whitespace = red reverse

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
